.result {
    padding-top: 2.5rem;   
}

.line {
    padding-top: 0.3125rem;   
    border-bottom: 0.0625rem solid #EAEAEA;
}

.news {
    &_grid {
        display: grid;
        gap: 2.8125rem;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: min-max(33.125rem, auto);
        padding-top: 2.8125rem;
    }
    &_item {
        position: relative;
        min-height: 33.1255rem;
        width: 100%;
        img {
            width: 100%;
            height: 13.5625rem;
            object-fit: cover;
        }
    }
    &_data {
        padding: 1.563rem;
        min-height: 19.563rem;
        width: 100%;
    }
    &_date{
        position: relative;
        padding-left: 1.5rem;
        font-size: 0.875rem;
        line-height: 150%;
        color: #363636;
        opacity: 0.6;
        &::before {
            content: '';
            position: absolute;
            display: block;
            left: 0;
            top: 0.063rem;
            width: 100%;
            height: 100%;
            background: url('../images/img/date-icon.svg') no-repeat;
          }
    }
    &_name {
        padding-top: 1.5rem;
        min-height: 58px;
        span, mark{
            font-size: 1.5rem;
            line-height: 1.813rem;
            color: #363636;
        }
    }
    &_description {
        min-height: 6rem;
        padding-top: 1.563rem;
        span, mark{
            line-height: 150%;
            color: #363636;
        }
    }
    .highlight {
        background: rgba(255, 246, 25, 0.63);
    }

    &_button {
        padding-top: 1.563rem;
        width: 100%;
        a {
            font-weight: 700;
            color: #363636;
            &::after {
                content: '';
                position: absolute;
                margin-top: 0.313rem;
                margin-left: 0.375rem;
                width: 1rem;
                height: 1rem;
                background: url('../images/img/Arrow-Right.svg') no-repeat;
            }
        }
    }
}